@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --paleBlue: hsl(225, 100%, 94%);
  --brightBlue: hsl(245, 75%, 52%);
  --veryPaleBlue: hsl(225, 100%, 98%);
  --desaturatedBlue: hsl(224, 23%, 55%);
  --darkBlue: hsl(223, 47%, 23%);
}

::selection {
  background: var(--paleBlue);
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background: url(images/pattern-background-desktop.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--paleBlue);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #fff;
  width: 450px;
  border-radius: 20px;
  box-shadow: 0px 40px 36px -17px #8b98cf54;
}

.text_area {
  padding: 35px;
}

.image_area img {
  border-radius: 20px 20px 0 0;
  width: 100%;
}

.text_area .summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summary h1 {
  text-align: center;
  font-weight: 900;
  color: var(--darkBlue);
}

.summary p {
  width: 90%;
  margin: 20px 0 20px 0;
  font-size: 16px;
  text-align: center;
  color: var(--desaturatedBlue);
  font-weight: 500;
}


.text_area .plan_area {
  width: 100%;
  background-color: #f8f9fe;
  padding: 20px 35px 20px 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.plan_area .price {
  display: flex;
  align-items: center;
  gap: 20px;
}

.price .pricing h2 {
  font-size: 16px;
  font-weight: 900;
  color: var(--darkBlue);
}

.price .pricing p {
  color: var(--desaturatedBlue);
}

.plan_area a {
  color: var(--brightBlue);
  font-weight: 700;

  &:hover {
    text-decoration: none;
    color: #766cf1;
  }
}


.text_area .order_area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin: 30px 0 30px 0;
}

.order_area a {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  border-radius: 10px;
}

.order_area a:nth-child(1) {
  color: #fff;
  background: var(--brightBlue);
  padding: 15px 0;
  width: 100%;
  text-align: center;
  box-shadow: 0px 20px 36px -17px #5a52ced2;

  &:hover {
    background: #766cf1;
  }
}

.order_area a:nth-child(2) {
  font-weight: 900;
  color: var(--desaturatedBlue);

  &:hover {
    color: var(--darkBlue);
  }
}

@media (max-width: 650px) {
  .container {
    width: 400px;
  }
}

@media (max-width: 550px) {
  body {
    background: url(images/pattern-background-mobile.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: var(--paleBlue);
  }

  .container {
    width: 350px;
  }

  .text_area {
    padding: 25px;
  }

  .text_area .plan_area {
    padding: 20px 15px 20px 15px;
  }
}

@media (max-width: 390px) {
  .container {
    width: 320px;
  }

  .text_area {
    padding: 15px;
  }

  .text_area .plan_area {
    padding: 20px 0 20px 0;
    flex-direction: column;
    gap: 20px;
  }

  .summary h1 {
    font-size: 25px;
  }

  .summary p {
    width: 100%;
  }

  .text_area .order_area {
    margin: 10px 0 10px 0;
  }

}
